<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">系統通知</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                刪除此筆預約場地?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="confirmDeleteBtn">確定</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Confirmation Modal -->
<div class="d-flex justify-content-center">
    <div class="spinner-grow" role="status" id="spinner"><span class="visually-hidden">Loading...</span></div>
</div>
<div class="w-100" id="content" style="display:none">
    <div class="w-100 bg">
        <div class="bg container d-flex rounded-top">
            <div class="w-25 position-relative d-flex justify-content-center" style="height: 200px">
                <img src="~/images/model.jpg" class="position-absolute h-100" id="headshot" />
                <img src="~/images/mask.png" class="position-absolute h-100" />
                <form><input type="file" id="photo" class="d-none" /></form>
                <label for="photo" class="btn btn-outline-light position-absolute w-100 bottom-0" style="border:none"><i class="bi bi-camera text-primary"></i></label>
            </div>
            <div class="w-75">
                <div class="bg d-flex align-items-center form-control h-25 fs-4 fw-bold" id="name"></div>
                <div class="bg form-control h-50" id="intro"></div>
                <div class="bg form-control h-25 d-flex">
                    <div class="w-25 d-flex align-items-center justify-content-evenly">
                        <i class="bi bi-person-circle" style="font-size: 2rem; color: #30505C"></i>
                        <div class="d-flex flex-column align-items-center">
                            <span class="fw-bold">加入時間</span>
                            <span class="fw-bold">2024-06-05</span>
                        </div>
                    </div>

                    <div class="w-25 d-flex align-items-center justify-content-evenly">
                        <i class="bi bi-calendar-event" style="font-size: 2rem; color: #30505C"></i>
                        <div class="d-flex flex-column align-items-center">
                            <span class="fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="您目前已完成的課程總時數">累計課程</span>
                            <span class="fw-bold" id="totalCourseNumber">--</span>
                        </div>
                    </div>

                    <div class="w-25 d-flex align-items-center justify-content-evenly">
                        <i class="bi bi-chat-dots" style="font-size: 2rem; color: #30505C"></i>
                        <div class="d-flex flex-column align-items-center">
                            <span class="fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="會員對您的上課滿意度">評論總數</span>
                            <span class="fw-bold" id="showComment"></span>
                        </div>
                    </div>

                    <div class="w-25 d-flex align-items-center justify-content-evenly">
                        <i class="bi bi-balloon-heart-fill" style="font-size: 2rem; color: #30505C"></i>
                        <div class="d-flex flex-column align-items-center">
                            <span class="fw-bold">商品收藏</span>
                            <span class="fw-bold" id="trackingProducts"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg container d-flex" style="height:50px">
            <div class="flex-fill text-center align-content-center hover-effect">
                <ul class="nav nav-pills">
                    <li class="nav-item dropdown flex-fill h-100">
                        <a class="nav-link dropdown-toggle text-primary" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">教練專區</a>
                        <div class="dropdown-menu w-100" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 42px);">
                            <a class="dropdown-item" href="#" id="openedCourse">開課</a>
                            <a class="dropdown-item" href="#" id="field">場地</a>
                            <a class="dropdown-item" href="#">薪資</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="flex-fill text-center align-content-center hover-effect">
                <a class="d-block nav-link h-100 align-content-center" href="#" id="myCourse">我的課程(0)</a>
            </div>
            <div class="flex-fill text-center align-content-center hover-effect">
                <a class="d-block nav-link h-100 align-content-center" href="#" id="myOrder">我的訂單(0)</a>
            </div>
            <div class="flex-fill text-center align-content-center hover-effect">
                <a class="d-block nav-link h-100 align-content-center" href="#">我的收藏</a>
            </div>
            <div class="flex-fill text-center align-content-center hover-effect">
                <a class="d-block nav-link h-100 align-content-center" href="#">我的追蹤</a>
            </div>
        </div>
    </div>


    <div class="container form-control mt-3" id="displayDiv">
        <!--內容呈現於此-->
    </div>

</div>

@section Styles {
    <style>
        .bg {
            background-color: #B9CED8;
        }

        .form-control {
            border: none;
        }

        .hover-effect {
            background-color: #B9CED8;
            font-weight: bolder;
            transition: background-color 0.3s ease;
        }

            .hover-effect:hover {
                background-color: #DDE6EC;
            }

        .disabled {
            pointer-events: none;
            opacity: 0.5;
            cursor: not-allowed;
        }


        .picNoReservation {
            width: 50%;
        }
    </style>
}

@section Scripts {
    <script>
        const spinner = document.getElementById('spinner');
        const content = document.getElementById('content');
        const name = document.getElementById('name');
        const intro = document.getElementById('intro');
        const photo = document.getElementById('photo');
        const displayDiv = document.getElementById('displayDiv');
        const openedCourse = document.getElementById('openedCourse');
        const myOrder = document.getElementById('myOrder');
        const myCourse = document.getElementById('myCourse');
        const field = document.getElementById('field');
        const showComment = document.getElementById('showComment');
        const totalCourseNumber = document.getElementById('totalCourseNumber');
        const trackingProducts = document.getElementById('trackingProducts');
        const memberID = 2;
        const coachID = 6;
        let pageParams = { coachId: coachID, keyword: "" };

        //頁面載入時執行
        document.addEventListener('DOMContentLoaded', async () => {
            let response = await fetch(`https://localhost:7199/api/Coach/${coachID}`);
            let data = await response.json();
            name.innerHTML = `<img src='@Url.Content("~/images/coachbadge.gif")' width="32px" class="rounded" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="高級教練"/>${data.coachDetailDto.name}`;
            intro.innerHTML = `<p class="fw-bolder fs-5">${data.coachDetailDto.intro}</p>`;
            loadComment(data.rateDetailDtos);

            response = await fetch(`https://localhost:7199/api/Member/${memberID}`);
            data = await response.json();
            let numberOfPaied = data.reserveDetailDtos.filter(item => item.paymentStatus).length;
            let numebrOfOrder = data.reserveDetailDtos.filter(item => !item.paymentStatus).length;
            myCourse.innerHTML = `我的課程(${numberOfPaied})`;
            myOrder.innerHTML = `我的訂單(${numebrOfOrder})`;

            loadTrackingProducts();
            loadTotalCourse(data.reserveDetailDtos);
            findCourse();

            //內容讀取完再顯示
            setTimeout(function () {
                spinner.style.display = 'none';
                content.style.display = 'block';
            }, 1000);
            
            //啟用ToolTip
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        });
        //顯示上過的課程數
        function loadTotalCourse(courses) {
            console.log(courses);
            totalCourseNumber.innerHTML = `<i class="bi bi-clock-fill"></i> ${courses.length} 堂`;
        }

        //顯示評論總數與平均
        function loadComment(comments) {
            let count = comments.length;
            let sum = 0;
            comments.forEach(item => {
                sum += parseFloat(item.rateClass);
            });
            let avg = sum / count;
            showComment.innerHTML = `${avg} <i class="bi bi-star-fill"></i> / ${count} <i class="bi bi-person-fill"></i>`;
        };
        //顯示追蹤的商品數量
        async function loadTrackingProducts() {
            const response = await fetch(`https://localhost:7199/api/ProductTrack/${coachID}`);
            const data = await response.json();
            console.log(data);
            trackingProducts.innerHTML = `${data.length} 件`;
        };

        //我的課程(已付款課程)
        myCourse.addEventListener('click', async () => {
            const deleteUrl = '@Url.Content("~/Reserve/Delete/")';
            const response = await fetch(`https://localhost:7199/api/Member/${memberID}`);
            const data = await response.json();
            data.reserveDetailDtos = data.reserveDetailDtos.filter(item => item.paymentStatus);
            let innerHTML = "";
            let count = 0;
            data.reserveDetailDtos.forEach(item => {
                count++;
                innerHTML += `<tr>
                                                    <td class="align-content-center">${count}</td>
                                                    <td class="align-content-center">${item.class}</td>
                                                    <td class="align-content-center">${item.coach}</td>
                                                    <td class="align-content-center">${item.time.date}</td>
                                                    <td class="align-content-center">${item.courseFee}</td>
                                                    <td class="align-content-center">
                                                        <div class="w-75" >
                                                            <a class="btn btn-danger mx-2" href="${deleteUrl}${item.reserveId}">
                                                                <i class="bi bi-trash3"></i>取消
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>`
            });
            const outerHTML = `<h3 class="fw-bolder">我的課程</h3>
                                                <table class="table table-hover">
                                                    <thead>
                                                          <tr class="table-primary">
                                                            <th scope="col">編號</th>
                                                            <th scope="col">課程名稱</th>
                                                            <th scope="col">教練</th>
                                                            <th scope="col">日期</th>
                                                            <th scope="col">費用</th>
                                                            <th scope="col">操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>${innerHTML}</tbody>
                                                </table>`
            displayDiv.innerHTML = outerHTML;
        })

        //我的訂單(未付款課程)
        myOrder.addEventListener('click', async () => {
            const updateUrl = '@Url.Content("~/Reserve/Update/")';
            const deleteUrl = '@Url.Content("~/Reserve/Delete/")';
            const linePayUrl = '@Url.Content("~/LinePay/shoppingCart/")'
            const response = await fetch(`https://localhost:7199/api/Member/${memberID}`);
            const data = await response.json();
            data.reserveDetailDtos = data.reserveDetailDtos.filter(item => !item.paymentStatus);
            console.log(data.reserveDetailDtos);
            let innerHTML = "";
            let count = 0;
            data.reserveDetailDtos.forEach(item => {
                count++;
                innerHTML += `<tr>
                                                    <td class="align-content-center">${count}</td>
                                                    <td class="align-content-center">${item.class}</td>
                                                    <td class="align-content-center">${item.coach}</td>
                                                    <td class="align-content-center">${item.time.date}</td>
                                                    <td class="align-content-center">${item.courseFee}</td>
                                                    <td class="align-content-center">
                                                        <div class="w-75" >
                                                            <a class="btn btn-primary mx-2" href="${updateUrl}${item.reserveId}">
                                                                <i class="bi bi-pencil-square"></i>編輯
                                                            </a>
                                                            <a class="btn btn-danger mx-2" href="${deleteUrl}${item.reserveId}">
                                                                <i class="bi bi-trash3"></i>刪除
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>`
            });
            const outerHTML = `<h3 class="fw-bolder">我的訂單</h3>
                                                <table class="table table-hover">
                                                    <thead>
                                                         <tr class="table-primary">
                                                            <th scope="col">編號</th>
                                                            <th scope="col">課程名稱</th>
                                                            <th scope="col">教練</th>
                                                            <th scope="col">日期</th>
                                                            <th scope="col">費用</th>
                                                            <th scope="col">操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>${innerHTML}</tbody>
                                                </table>
                                                <div>
                                                    <a class="btn btn-primary" href="${linePayUrl}${memberID}">前往購物車</a>
                                                </div>`;
            displayDiv.innerHTML = outerHTML;

        });

        //更改大頭照
        photo.addEventListener('change', (event) => {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = (e) => {
                    document.getElementById('headshot').src = e.target.result;
                }
            }
        });

        //查詢已開課程
        openedCourse.addEventListener('click', async (event) => {
            findCourse();
        });
        //開課
        async function findCourse() {
            const updateUrl = '@Url.Content("~/Schdule/Update/")';
            const deleteUrl = '@Url.Content("~/Schdule/Delete/")';
            let response = await fetch("https://localhost:7199/api/Coach/Pagination", { method: "POST", headers: { "Content-Type": "application/json" }, body: JSON.stringify(pageParams) });
            let data = await response.json();
            let openedCourse = Array.from(data.scheduleDatailDtos).filter(x => x.classStatus == '正常開課');
            let reviewCourse = Array.from(data.scheduleDatailDtos).filter(x => x.classStatus == '審核中');
            let innerHTML = "";
            let count = 0;
            //成功開課
            for (const item of openedCourse) {
                response = await fetch(`https://localhost:7199/api/ClassReserved/${item.classScheduleId}`);
                data = await response.json();
                count++;
                innerHTML += `<tr>
                                                    <td class="align-content-center">${count}</td>
                                                    <td class="align-content-center">${item.class}</td>
                                                    <td class="align-content-center">${item.courseStartTime}~${item.courseEndTime}</td>
                                                    <td class="align-content-center">${item.courseDate}</td>
                                                    <td class="align-content-center">${item.field}</td>
                                                    <td class="align-content-center">${data.currentNumberOfStudent}/${item.maxStudent}</td>
                                                    <td class="align-content-center">NT${item.classPayment}</td>
                                                    <td class="align-content-center">
                                                        <div class="w-75" >
                                                            <button class="btn btn-success mx-2">
                                                            <i class="bi bi-check2"></i>招生中
                                                        </div>
                                                    </td>
                                                </tr>`
            };
            //課程審核中
            for (const item of reviewCourse) {
                count++;
                innerHTML += `<tr>
                                                    <td class="align-content-center">${count}</td>
                                                    <td class="align-content-center">${item.class}</td>
                                                    <td class="align-content-center">${item.courseStartTime}~${item.courseEndTime}</td>
                                                    <td class="align-content-center">${item.courseDate}</td>
                                                    <td class="align-content-center">${item.field}</td>
                                                    <td class="align-content-center">${data.currentNumberOfStudent}/${item.maxStudent}</td>
                                                    <td class="align-content-center">NT${item.classPayment}</td>
                                                    <td class="align-content-center">
                                                        <div class="w-75" >
                                                                <button class="btn btn-light mx-2" disabled>
                                                                <i class="bi bi-hourglass-split"></i>審核中
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>`
            };
            const OpenedCourseHtml = `<div class="d-flex flex-row mb-3 justify-content-between">
                                                            <h3 class="fw-bolder">已開課程</h3>
                                                            <input class="form-control me-2 border w-25" id="keywordSearch" type="search" placeholder="課程搜尋" aria-label="Search" autocomplete="off">
                                                     </div>
                                                        <table class="table table-hover">
                                                            <thead>
                                                                 <tr class="table-primary">
                                                                    <th scope="col">編號</th>
                                                                    <th scope="col">課程名稱</th>
                                                                    <th scope="col">時間</th>
                                                                    <th scope="col">日期</th>
                                                                    <th scope="col">教室</th>
                                                                    <th scope="col">報名人數</th>
                                                                    <th scope="col">課程費用/每位</th>
                                                                    <th scope="col">狀態</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>${innerHTML}</tbody>
                                                        </table>
                                                            <a href="@Url.Content("~/Coach/CreateCourse")" class="btn btn-primary">新增課程</a>`;
            displayDiv.innerHTML = OpenedCourseHtml;
            let keywordSearch = document.getElementById('keywordSearch');
            keywordSearch.addEventListener('keydown', async (event) => {
                if (event.key === 'Enter') {
                    pageParams.keyword = event.target.value;
                    await findCourse();
                }
            });
        };
        //顯示場地
        field.addEventListener('click', showField);
        async function showField() {
            let response = await fetch("https://localhost:7199/api/Coach/6");
            let data = await response.json();
            console.log(data);
            let paid = data.fieldDetailDtos.filter(x => x.paymentStatus);
            let unpaid = data.fieldDetailDtos.filter(x => !x.paymentStatus);
            let innerHTML = "";
            let count = 0;
            console.log(paid);
            //已付款場地
            for (const item of paid) {
                count++;
                innerHTML += `<tr>
                                                    <td class="align-content-center">${count}</td>
                                                    <td class="align-content-center">${item.field}</td>
                                                    <td class="align-content-center">NT${item.fieldPayment}</td>
                                                    <td class="align-content-center">${item.courseStartTime}~${item.courseEndTime}</td>
                                                    <td class="align-content-center">${item.courseDate}</td>
                                                    <td class="align-content-center">${item.city}${item.region}${item.gym}${item.floor}</td>
                                                    <td class="align-content-center"><button type="button" class="btn btn-success">已付款</button></td>
                                                </tr>`
            };
            const PaidFieldHtml = `<h3 class="fw-bolder">已成功付款</h3>
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr class="table-primary">
                                                                <th scope="col">編號</th>
                                                                <th scope="col">場地名稱</th>
                                                                <th scope="col">場地費用/小時</th>
                                                                <th scope="col">時間</th>
                                                                <th scope="col">日期</th>
                                                                <th scope="col">場館</th>
                                                                <th scope="col">付款狀態</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>${innerHTML}</tbody>
                                                    </table>`;
            innerHTML = "";
            count = 0;
            const updateUrl = '@Url.Content("~/Field/UpdateField/")';
            //待付款場地
            for (const item of unpaid) {
                count++;
                innerHTML += `<tr>
                                                    <td class="align-content-center">${count}</td>
                                                    <td class="align-content-center">${item.field}</td>
                                                    <td class="align-content-center">NT${item.fieldPayment}</td>
                                                    <td class="align-content-center">${item.courseStartTime}~${item.courseEndTime}</td>
                                                    <td class="align-content-center">${item.courseDate}</td>
                                                    <td class="align-content-center">${item.city}${item.region}${item.gym}${item.floor}</td>
                                                    <td class="align-content-center">
                                                        <button type="button" class="btn btn-secondary">待付款</button>
                                                    </td>
                                                    <td class="align-content-center">
                                                        <a class="btn btn-primary mx-2" href="${updateUrl}${item.fieldReserveId}">
                                                                <i class="bi bi-pencil-square"></i>
                                                        </a>
                                                        <button type="button" class="btn btn-danger deleteUnPaidField" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal" data-id="${item.fieldReserveId}"><i class="bi bi-trash"></i></button>
                                                    </td>
                                                </tr>`
            };

            const UnPaidFieldHtml = `<h3 class="fw-bolder">待付款場地</h3>
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr class="table-primary">
                                                                <th scope="col">編號</th>
                                                                <th scope="col">場地名稱</th>
                                                                <th scope="col">場地費用/小時</th>
                                                                <th scope="col">時間</th>
                                                                <th scope="col">日期</th>
                                                                <th scope="col">場館</th>
                                                                <th scope="col">付款狀態</th>
                                                                <th scope="col">操作</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>${innerHTML}</tbody>
                                                    </table>
                                                    <a href='@Url.Content("~/LinePay/CourseShoppingCart/")${coachID}' class="btn btn-primary" id="btnPay">付款去</a>`;
            displayDiv.innerHTML = PaidFieldHtml + UnPaidFieldHtml;
            if (unpaid.length == 0) {
                displayDiv.innerHTML += `<div><img src='@Url.Content("~/images/noreservation.png")' class="picNoReservation"/></div>`;
            }
            const btnPay = document.getElementById('btnPay');
            //如果沒有未付款場地，就禁用結帳按鈕
            btnPay.classList.remove('disabled');
            if (unpaid.length === 0) {
                btnPay.classList.add('disabled');
            }
            deleteUnPaidField();
        };

        //刪除
        function deleteUnPaidField() {
            const deleteUnPaidFields = document.querySelectorAll(".deleteUnPaidField");
            const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
            console.log(deleteUnPaidFields);

            deleteUnPaidFields.forEach(item => {
                item.addEventListener('click', async function () {
                    let id = this.getAttribute("data-id");

                    confirmDeleteBtn.onclick = async function () {
                        const modalElement = document.getElementById('deleteConfirmModal');
                        const deleteConfirmModal = bootstrap.Modal.getInstance(modalElement);
                        deleteConfirmModal.hide();
                        const response = await fetch(`https://localhost:7199/api/Field/${id}`, {
                            method: 'DELETE'
                        });
                        const data = await response.json();
                        if (data.success) {
                            console.log('成功');
                            //重新載入場地
                            showField();
                        }
                    }

                })
            });
        }


    </script>
}